In [1]:
# The code was removed by Watson Studio for sharing.

,date,period,exchus,ovx,usinterest,usinflation,usunemp,ussp500,oilprice
0,2016-05-01,22,6.5259,38.08,0.644772,1.594286,4.8,2096.96,49.10
1,2016-06-01,23,6.5892,38.09,0.651620,1.470000,4.9,2098.86,48.33
2,2016-07-01,24,6.6771,41.08,0.696310,1.465500,4.8,2173.60,41.60
3,2016-08-01,25,6.6466,39.50,0.810223,1.468261,4.9,2170.95,44.70
4,2016-09-01,26,6.6702,39.31,0.849680,1.514762,5.0,2168.27,48.24